{% comment %}
  A custom block to display YouTube videos related to the current product.
{% endcomment %}

{% style %}
  .videos-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .videos-tab .video {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
    margin: 1em;
  }

  .videos-tab .video .thumb {
    display: block;
    aspect-ratio: 16/9;
    background-size: 102% auto;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
  }

  .videos-tab .video .title {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    color: var(--blue-primary);
    font-weight: bold;
  }

  .videos-tab .video {
    text-decoration-color: var(--blue-primary);
  }

  .videos-tab .video:hover .thumb {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    filter: brightness(0.8);
  }
{% endstyle %}

{%- if product.metafields.video.links -%}
  <div class="isolate">
    <div
      id="specs-container"
      class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
    >
      <div class="rich-text__wrapper rich-text__wrapper--left page-width">
        <div class="rich-text__blocks left">
          <h2
            class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 1;"
          >
            Videos
          </h2>
          <div
            class="rich-text__text rte scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 2;"
          >
            {{ product.metafields.video.links }}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
