{% comment %}
  Custom block for displaying product specifications.
          echo '<p class="spec"><span>' | append: formatted_words | append: '</span> ' | append: metafield.last | append: '</p>'
{% endcomment %}

{% style %}
  #sizing-container .rich-text__wrapper {
    display: flex;
    flex-direction: column;
  }

  #sizing-container .rich-text__blocks {
    width: 100%;
  }

  #sizing-container .block-sizing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #sizing-container .block-sizing ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 0 10px;
  }

  #sizing-container .block-sizing ul i {
    color: #2979ff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
  }

  #sizing-container .block-sizing ul span {
    color: black;
  }

  #sizing-container .block-sizing ul li {
    display: inline-block;
  }

  #sizing-container .block-sizing img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    object-fit: contain;
    max-width: 100%;
    width: 1px;
  }

  @media screen and (min-width: 1024px) {
    #sizing-container .block-sizing {
      flex-wrap: nowrap;
    }

    #sizing-container .block-sizing ul {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
{% endstyle %}

{%- if product.metafields.custom.dimensions.value != empty and product.metafields.dimensions_diagram.diagram != empty -%}
  <div class="isolate">
    <div
      id="sizing-container"
      class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
    >
      <div class="rich-text__wrapper rich-text__wrapper--left page-width">
        <div class="rich-text__blocks">
          <h2
            class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 3;"
          >
            Dimensions
          </h2>
          <div
            class="block-sizing rich-text__text rte scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 4;"
          >
            <div style="width:50%;">
              {{ product.metafields.custom.dimensions.value }}
            </div>

            <img
              src="{{ product.metafields.custom.dimensions_diagram.value | image_url }}"
              alt="{{ product.title | escape }} sizing chart."
              style="border: none;"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
